body {
    font-family: Arial, sans-serif;
    background-image: url('Fondo1.jpg'); 
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 0;
}
.img1 img{
    background-color: #092442;
    padding-inline-start: 415px ; 
    padding-inline-end: 400px ;
    width: 550px;
    height: 95px;
    transform: translate(0px, 0px);
}
.part1 img{
    width: 200px;
    height: 82px;
    transform: translate(20px, -3px);
    position: relative;
    z-index: 1;
}

.List1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content:space-around;
    background-color: #ffffff; 
    transform: translate(0px, -3px);
}
a {
    text-decoration: none; 
    color: black; 
}

.List1 li {
    padding: 8px; 
}

.login-becas {
    width: 300px;
    height: 345px;
    transform: translate(850px, 25px);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.login-becas img{
    width: 40px;
    height: 40px;
    transform: translate(0px, 10px);
}
.login-becas h2 {
    text-align: center;
}

.login-becas label,
.login-becas input {
    display: block;
    margin-bottom: 10px;
}

.login-becas input[type="email"],
.login-becas input[type="password"] {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-becas button {
    width: 100%;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-becas button:hover {
    background-color: #0056b3;
}